<nav>
    <div class="site-title">
        <a href="/">Mostafa Mahmoud</a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/packages">Packages</a></li>
    </ul>
</nav>
