<!-- Template variables -->
<% const title = 'Page Not Found' %> <% const style = '/styles/404.css' %><% const activePage = '/404' %>

<html lang="en">
    <%- include("./partials/head.ejs", {title, style}) %>

    <body>
        <%- include("./partials/nav.ejs",{activePage}) %>

        <div class="body">
            <h1 class="404">404</h1>
            <h2 class="404">Oooops!</h2>
            <h3 class="404">THAT PAGE DOSE NOT EXIST OR UNAVAILABLE</h3>
        </div>
    </body>
</html>
