@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
    margin: 0px;
}

.body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    max-width: 1200px;
}
p,
h1,
h2,
h3,
a,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}
